<!DOCTYPE html> 

<html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />  
        <%= stylesheet_link_tag 'demo.css',media: 'all' %> 
        <%= stylesheet_link_tag 'animate-custom.css',media: 'all' %> 
        <%= stylesheet_link_tag 'style3.css',media: 'all' %> 
    </head>
    <body>
        <div class="container">
            <br /> <br />
            <section>       
                <div id="container_demo" > 

                    <div id="wrapper"> 
                        <h2>Forgot your password?</h2>

                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                          <%= devise_error_messages! %>

                          <div class="field">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true %>
                          </div>

                          <div class="actions">
                            <%= f.submit "Send me reset password instructions" %>
                          </div>
                        <% end %>

                        <%= render "users/shared/links" %>
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>   

  

